.contenedorDetalle{
    width: 390px;
    height: 700px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 35%;
}
.headerPokemon{
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    margin-top: 3%
}
.headerArrow{
    margin-left: 60%;
    filter: invert(100%);
}
.headerTitle{
    margin-left: 10%;
}
.contenedorId{
    width: 100%;
    text-align: right;
    margin-right: 7%;
}

.contenedorInfo{
    background-color: white;
    width: 98%;
    margin-top: 42%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botonesTipo{
    color: white;
    border-radius: 1.5rem;
    border: 1px solid;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
}
.about{
    margin-top: 5%;
    margin-bottom: 5%;
}
.baseState{
    margin-top: 5%;
    margin-bottom: 3%;
}
#botonUno{
    margin-right: 10%;
}
#botonDos{
    margin-left: 10%;
}
.contenedorBotones{
    display: flex;
    margin-top: 11%;
}
.pokebola{
    position: absolute;
    z-index: 0;
    margin-left:6%;
    margin-top: 2%;
    opacity: 0.2;
    width:220px;
    height:210px;
    filter: invert(1);
}
.imagenPokemon{
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 1;
    margin-top: 6%;
}
.imagenPokemon:hover{
    cursor: pointer;
    animation: heyjump .5s infinite;
}
@keyframes heyjump{
    0%{transform: translateY(0px);}
    50%{transform: translateY(-10px);}
    100%{transform: translateY(0px);}
}
.caracteristicas{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: small;
}
.caracteristicas p{
    font-size: x-small;
    color: rgba(0, 0, 0, 0.5);
    float: inline-end;
    
}
.hola{
    height: 100%;
    width: 100%;
    text-align: center;
}
.descripcion{
    margin-top: 5%;
    font-size: 12px;
    margin-left: 5%;
    margin-right: 5%;
}
hr{ 
  
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         100%;
    width:          1px;
    border-color: rgba(0, 0, 0, 0.5);      
}
.iconoWH{
    margin-right: 7%;
}
.w3-container{
    width: 100%;
}
.estadistica{
    margin-top: 3%;
}
.w3-light-grey{
    margin-top: 3%;
    width: 300px;
    margin-left: 5%;
}
#barraInferior{
    margin-bottom: 6%;
}
.contenedorEstadistica{
    width: 100%;
    display: flex;
}
.habilidadUno{
    width: 100%;
    display: flex;
}
.barra{
    width: 80%;
    display: flex;
}
.habilidad{
    width: 10%;
    display: flex;
    justify-content: end;
    margin-right: 7%;
}

.hrEstadisticas{
    border-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    height: 122px;
    margin-top: 80%;
    margin-right: 61%;
}
.frame{
    width: 20px;
    height: 20px;
    filter: invert(1);
}
.frameDos{
    filter: invert(1);
    width: 20px;
    height: 20px;
    transform: scaleX(-1);
}
.linkDos{
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    top: 37%;
    right: 35%;
}
.linkUno{
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    left: 37%;
    top: 37%;
}