body{
    background-image: url("https://fondosmil.com/fondo/32022.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes anim{
    0% {color: #74CB48;} 
   20% {color: #F57D31;} 
   40% {color: #6493EB;} 
   60% {color: #F9CF30;} 
  80% {color: #FB5584;} 
  100% {color: #74CB48;} 
}
.welcomePokedex{
    animation-name: anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    font-size: 25px;
}

.letraSignInto{
    color: white;
    font-size: 16px;
}

.donthave{
    color: white;
    font-size: 16px;
}
.inputLogin::placeholder{
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
}
.datosLogin{
    margin: 0;
}
.datosLogin p{
    color: aliceblue;
}
.alertaLogin{
    width: 250px;
    position: absolute;
    top: 25%;
    left: 40%;
}