*{
    font-family: 'Poppins', sans-serif;
}
.iconoPokemon{
    width: 75px;
    height: 75px;
}
.link{
    width: 90%;
    margin: 5%;
    text-decoration: none;
    transition: all 300ms;
}
.link:hover{
    transform: scale(1.15);
}
.tarjetaPokemon{
    border: 1px solid black;
    border-radius: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#id{
    margin-left: 75px;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 10px;
    width: 35%;
    text-align: center;
    margin-top: 3%;
    margin-right: 10%;
    font-size: x-small; 
    background-color: rgb(236, 236, 236);
}

.nombre{
    font-size: small;
    width: 100%;
    height: 25px;
    text-align: center;
    color: rgb(236, 236, 236);;
    border-end-end-radius: 1rem;
    border-end-start-radius: 1rem;
}
.botonBorrar:hover{
    transform: scale(1.3);
}
.css-10jn7d2-JoyButton-root {
    min-height: 1px;
}
.contenedorPokemon{
    display: flex;
}